# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Operating system
.DS_Store
Thumbs.db
